body {
    background-color: #FFF6F3 !important;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

.rightSide {
        display: flex;
        align-items: center;
}

.nav-link {
    background-color:#E5172A !important;
     color: white !important;
}

.logo {
    padding-left: 76px !important;
    padding-right: 6px !important;
}

.logoText > p {
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 6px !important;
    font-family: 'TT Norms Pro',
        sans-serif;
    color: #E5172A !important;
    font-weight: bold;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.logoImage {
    flex-basis: 40%
}

p {
    color: black;
    margin: 0;
    padding: 0;
}

a {
    color: black !important;
    margin: 0;
    padding: 0;
}

input {
        /* border: 1px solid black !important; */
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#footerContainer {
        display: block;
        padding-top: 200px;
}

.mb-4 {
    margin-bottom: 3rem !important;
}